.cardimage{
    max-height:15rem;
    max-width:15rem;
    margin-top:1rem;

    text-align:center;
 
    
    
      border-radius: 50%;
    }
    .imagecardsec{
        display:flex;
        justify-content: center;
    }
    .profilecard{
        border:0.1px solid rgb(102, 102, 130);
     
    }
    .profilecard hr{
        color: rgb(70, 58, 180);
    }
    
    .entreHeading{
        color: rgb(70, 58, 180);
        margin-top:1rem;
        margin-left: 1rem;
    }
    .profilecard:hover{
        border:none;
        border-radius:1rem;
        /* box-shadow: rgba(93, 93, 140, 0.2) 0px 7px 29px 0px; */
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    